.overlay {
  display: none;
}

.parent {
  width: "100%";
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 3%;
  box-sizing: border-box;
}

.backIcon {
  font-size: 22px;
}

.topBar {
  display: flex;
  width: 50%;
  max-width: 170px;
  align-items: center;
  justify-content: space-between;
  padding: 5pt 8px;
  /* background-color: #f5f5f5; */
  border-radius: 10px;
  margin: auto auto;
}

.topBarButton {
  background-color: transparent;
  outline: transparent;
  border: transparent;
  font-size: 14px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.content {
  width: 100%;

  padding: 0px 5%;
  box-sizing: border-box;
}
