.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 2px;
  margin-top: 10px;
}

.content {
  width: 70%;
}
