.parent {
  position: fixed;
  z-index: 2;
  align-self: flex-end;
  box-sizing: border-box;
  display: flex;
  width: 60vw;
  margin-left: 40vw;
  padding: 10px 10px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  width: 80%;
  max-width: 210px;
}
.icon {
  font-size: 28px;
  color: #808080;
}
