.parent {
  width: 99%;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 1.5vh 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-left: auto;
}
.icon {
  font-size: 28px;
  margin: 0px 10px;
  cursor: pointer;
}
