.Modal {
  position: fixed;
  z-index: 2;
  width: 50%;
  width: 250px;
  outline: transparent;
}

.Overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.05);
}

.menuContainer {
  width: 100%;
  padding: 0px 5px;
}

.annotationMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buttons {
  display: inline-block;
  margin: 0px;
  padding: 10px 0px;
  outline: transparent;
  border: transparent;
  background-color: transparent;
}

.line {
  height: inherit;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.triangle {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #cccccc;
}

.HighlightMenu {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
}

.CircleContainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 9px 0px;
}

.Circle {
  height: 22px;
  width: 22px;
  border-radius: 15px;
}

.IconContainer {
  width: 40%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  align-self: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.noteDiv {
  height: 22vh;
  width: 100%;
  background-color: white;
  border: solid #808080 0.2px;
  border-radius: 5px;
}

.noteHeader {
  display: flex;
  padding: 0px 5%;
  justify-content: space-between;
  height: 22%;
  align-items: center;
  border-bottom: solid #cccccc 3px;
}

.closeIcon {
  font-size: 18px;
}
.noteHeading {
  font-weight: 600;
  font-size: 18px;
}

.noteInput {
  height: 55%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  resize: none;
  padding: 2% 2%;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 15px;
}

.noteButtonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 2%;
  align-items: center;
}

.noteButton {
  display: inline-block;
  margin-left: 10px;
  outline: transparent;
  border: transparent;
  background-color: transparent;
  font-weight: bold;
}
