.Modal {
  position: fixed;
  z-index: 10;
  outline: transparent;
}

.Overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
}
.pencilHead {
  height: 1.5vh;
  width: 100%;
  background-color: #808080;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pencilHeadBottom {
  height: 1.5vh;
  width: 100%;
  background-color: #808080;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.annotationMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ccc;
  box-shadow: 0 4px 8px 0 rgba(73, 53, 53, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.buttons {
  display: inline-block;
  margin: 0px;
  padding: 10px 0px;
  outline: transparent;
  border: transparent;
  background-color: transparent;
}

.annotationContainer {
}

.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.9);
}

.triangle {
  box-shadow: 0 4px 8px 0 rgba(73, 53, 53, 0.4), 0 6px 0px 0 rgba(0, 0, 0, 0.3);

  display: flex;
  position: relative;
  align-self: center;
  background-color: #808080;
  text-align: left;
  margin-top: 6px;
  transition: all 400ms;
  opacity: 1;
}
.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
  background-color: #a9a9a9;
}
.triangle,
.triangle:before,
.triangle:after {
  width: 1.1em;
  height: 1.1em;
  border-top-right-radius: 30%;
}

.triangle {
  transform: rotate(120deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
  transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
    translate(0, -50%);
}
.triangle:after {
  transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

.CircleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.2em 0em;
  background-color: #a9a9a9;
  box-shadow: 0 4px 8px 0 rgba(73, 53, 53, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.Circle {
  height: 22px;
  width: 22px;
  margin: 0.3em 0em;
  border-radius: 15px;
  cursor: pointer;
  opacity: 1;
  transition: all 400ms;
  cursor: pointer;
}
.Circle:hover {
  opacity: 0.3;
}

.IconContainer {
  width: 40%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon {
  align-self: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
}
.popup {
}

.selectable {
  display: flex;
  padding: 1em 0.4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  transition: all 400ms;
  opacity: 1;
  cursor: pointer;
  background-color: #a9a9a9;
}
.selectable:hover {
  background-color: #a9a9a912;
}
