.Modal {
  z-index: 2;
  /* width: 50%; */
  max-width: 250px;
  background-color: #fff;
  outline: transparent;
  border-radius: 15px 10px 15px 10px;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 50px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.Overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.01);
}

.title {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #3d3d3d;
}

.fontSizeMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}

.ColorMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 10px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #808080;
  margin: 5px 0;
}

.colorDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 20px;
  border: solid 2px;
  font-size: 12px;
  cursor: pointer;
}

.colorDiv:hover {
}
.colorText {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

.BrightnessMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 2px;
  background: #00000020;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #00000080;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #00000080;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .sliderRound {
  background-color: #ff9933;
}

input:focus + .sliderRound {
  box-shadow: 0 0 1px #ff9933;
}

input:checked + .sliderRound:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.sliderRound {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.sliderRound:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.ScrollMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  transition: all 400ms;
}

.icon:hover {
  color: #000;
}
